---
// src/components/navbar/NavLogo.astro
import logoData from '@/assets/logo.json';
---

<a href="/" class="block" aria-label="Home">
  <div
    id="nav-logo-container"
    class="relative h-20 w-32 overflow-hidden md:w-40"
  >
    <svg
      id="static-logo-placeholder"
      class="absolute inset-0 h-full w-full"
      viewBox="0 0 2000 1200"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g clip-path="url(#clip0_500_69)">
        <mask
          id="mask0_500_69"
          style="mask-type:luminance"
          maskUnits="userSpaceOnUse"
          x="0"
          y="0"
          width="2000"
          height="1200"
        >
          <path d="M2000 0H0V1200H2000V0Z" fill="white"></path>
        </mask>
        <g mask="url(#mask0_500_69)">
          <path
            d="M1372.96 607.931L1412.76 569.325V786.234H1372.96V607.931Z"
            fill="#AC121F"></path>
          <path
            d="M1434.62 569.326H1481.37L1569.12 730.172L1660.73 569.326H1711.25C1711.25 569.326 1621.94 725.212 1594.74 772.68C1589.9 781.143 1581.67 786.235 1572.86 786.235H1570.55C1561.65 786.235 1553.35 781.04 1548.53 772.435C1521.74 724.675 1434.62 569.326 1434.62 569.326Z"
            fill="#AC121F"></path>
          <path
            d="M1954.83 569.326H1748.62C1739.79 569.326 1731.33 573.355 1725.08 580.526C1718.84 587.697 1715.34 597.423 1715.34 607.566V747.995C1715.34 758.137 1718.84 767.863 1725.08 775.035C1731.33 782.206 1739.79 786.235 1748.62 786.235H1954.83V741.326H1762.77V697.257H1859.72L1894.43 653.972H1762.77V614.349H1916.22L1954.83 569.326Z"
            fill="#AC121F"></path>
          <path
            d="M1134.95 580.675C1134.95 574.406 1139.37 569.326 1144.83 569.326H1167.48C1172.94 569.326 1177.36 574.406 1177.36 580.675V723.424C1177.36 730.761 1182.54 736.709 1188.93 736.709H1335.44V786.235H1166.45C1149.05 786.235 1134.95 770.029 1134.95 750.035V580.675Z"
            fill="#AC121F"></path>
          <path
            d="M327.765 477.941V408.901H128.131C104.754 408.901 82.336 419.575 65.811 438.564C49.285 457.558 39.999 483.318 39.999 510.175V697.508C39.999 724.366 49.285 750.126 65.811 769.12C82.342 788.108 104.754 798.777 128.131 798.777H409.342C427.936 798.777 443.016 781.457 443.016 760.086V499.691C443.016 498.08 443.931 496.651 445.274 496.171C446.616 495.697 448.074 496.28 448.868 497.617C473.902 539.743 572.502 705.663 611.674 771.577C621.788 788.6 638.571 798.777 656.508 798.777H695.822C703.165 798.777 710.211 795.428 715.405 789.463C720.594 783.491 723.514 775.4 723.514 766.96V472.891H995.371V701.777C995.371 705.886 993.948 709.823 991.422 712.731C988.891 715.634 985.462 717.263 981.891 717.263H778.142V798.777H981.571C1024.14 798.777 1058.66 759.12 1058.66 710.194V485.726C1058.66 436.8 1024.14 397.143 981.571 397.143H686.165C677.891 397.143 669.954 400.92 664.102 407.646C658.251 414.371 654.965 423.491 654.965 433V693.411C654.965 693.411 518.274 473.183 483.079 416.474C477.942 408.2 469.639 403.286 460.794 403.286H390.799C382.794 403.286 376.308 410.743 376.308 419.937V706.971C376.308 709.308 375.502 711.548 374.062 713.2C372.628 714.851 370.674 715.777 368.645 715.777H115.091C111.348 715.783 107.753 714.068 105.108 711.028C102.456 707.983 100.971 703.857 100.971 699.548V496.101C100.971 487.187 107.222 479.947 114.982 479.872C164.422 479.427 327.765 477.941 327.765 477.941Z"
            fill="#AC121F"></path>
        </g>
      </g>
      <defs>
        <clipPath id="clip0_500_69">
          <rect width="2000" height="1200" fill="white"></rect>
        </clipPath>
      </defs>
    </svg>

    <div id="lottie-wrapper" class="absolute inset-0 h-full w-full"></div>
  </div>
</a>

<script>
  import lottie from 'lottie-web/build/player/lottie_light';
  import animationData from '@/assets/logo.json';

  let animationInstance: any = null;

  const initLogo = () => {
    const wrapper = document.getElementById('lottie-wrapper');
    // 你的脚本现在能找到这个 ID 了
    const staticPlaceholder = document.getElementById(
      'static-logo-placeholder'
    );

    if (wrapper) {
      if (animationInstance) {
        animationInstance.destroy();
      }

      wrapper.innerHTML = '';

      animationInstance = lottie.loadAnimation({
        container: wrapper,
        renderer: 'svg',
        loop: true,
        autoplay: true,
        animationData: animationData,
      });

      // 当第一帧加载完毕，隐藏静态 SVG
      animationInstance.addEventListener('DOMLoaded', () => {
        if (staticPlaceholder) {
          // 加上 !important 确保隐藏生效 (保险起见)
          staticPlaceholder.style.setProperty('display', 'none', 'important');
        }
      });
    }
  };

  document.addEventListener('astro:page-load', initLogo);
</script>
